body {
  padding-bottom: 50px;
  background-color: #f2f3f8;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #2c2d39;
  font-size: 26px;
  line-height: 28px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  float: left;
  color: #2c2d39;
  font-size: 20px;
  line-height: 21px;
  font-weight: 400;
}

h3 {
  margin-top: 0px;
  margin-bottom: 10px;
  color: #7e81a0;
  font-size: 15px;
  line-height: 16px;
  font-weight: 700;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.section {
  margin-bottom: 20px;
  padding-left: 75px;
}

.section.section-top {
  padding: 20px 15px;
  background-color: #fff;
  box-shadow: 0 1px 26px 0 #ececed;
  text-align: right;
}

.section.section-header {
  margin-bottom: 45px;
  padding-top: 40px;
}

.drop-toggle-top {
  padding-top: 10px;
  padding-right: 55px;
  padding-bottom: 10px;
  border-radius: 50px;
  background-color: #4fd876;
  font-family: Roboto, sans-serif;
  color: #fff;
}

.icon-drop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 0px;
  padding-right: 20px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid #48c76c;
  box-shadow: -1px 0 0 0 #7df29e;
}

.drop-top {
  float: right;
  border-radius: 50px;
  box-shadow: 0 5px 15px 0 #e0f7e7;
}

.drop-list-top.w--open {
  margin-top: 5px;
  border-radius: 20px;
  background-color: #4fd876;
  color: #fff;
}

.drop-link-top {
  color: #fff;
}

.box-img-user-logged {
  width: 40px;
  height: 40px;
  margin-right: 25px;
  float: right;
}

.img-user-logged {
  min-height: 40px;
  min-width: 40px;
  border-radius: 100%;
}

.box-ico-not {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 15px;
  float: right;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.num-not {
  position: absolute;
  top: 5px;
  right: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 20px;
  min-height: 20px;
  min-width: 20px;
  padding-top: 1px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #f68479;
  color: #fff;
  font-size: 9px;
}

.search-box {
  display: none;
  width: 250px;
  height: 40px;
  margin-bottom: 0px;
  float: right;
}

.ico-search {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
  float: right;
  cursor: pointer;
}

.search-input {
  width: 75%;
  height: 40px;
  margin-right: 5%;
  float: left;
}

.search-submit {
  width: 20%;
  height: 40px;
  float: left;
  border-radius: 15px;
  background-color: #a4a7c6;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-bar {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 999999;
  background-color: #2c2d39;
}

.container-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 75px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-bottom {
  margin-top: 15px;
  margin-bottom: 40px;
}

.link-menu-closed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-menu-closed.link-dash {
  position: relative;
  padding-top: 15px;
}

.divisor-nav {
  width: 80%;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #61648e;
}

.container-geral {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.nav-menu {
  width: 290px;
  padding-top: 15px;
  background-color: #2c2d39;
  color: #fff;
}

.img-ico-side-menu {
  width: 15px;
}

.date {
  margin-top: 5px;
  float: right;
}

.container-65 {
  width: 65%;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
}

.container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
  box-shadow: 11px 11px 29px -11px hsla(240, 2%, 45%, .42);
}

.container.container-68 {
  width: 68%;
  height: 645px;
  float: left;
}

.container.container-33 {
  position: relative;
  width: 30%;
  height: 645px;
  margin-left: 2%;
  float: left;
}

.container.container-40 {
  width: 36%;
  height: 645px;
  float: left;
}

.header-box {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
  padding-right: 20px;
  padding-left: 20px;
}

.drop-order {
  float: right;
  font-weight: 500;
}

.drop-order.funcionario {
  color: #fff;
}

.drop-order-toggle {
  padding-top: 0px;
  padding-bottom: 0px;
}

.drop-order-toggle.funcionario {
  color: #fff;
}

.drop-list-order.w--open {
  background-color: #fff;
  box-shadow: 4px 4px 37px -8px hsla(255, 2%, 58%, .67);
}

.ul-projects {
  margin-bottom: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.li-projects {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f7f7f5;
}

.li-projects.last {
  border-style: none;
}

.col-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.col-infos {
  color: #6c6c73;
  font-size: 12px;
}

.field-label {
  margin-right: 2px;
  float: left;
}

.fiel-name {
  float: left;
}

.box-status {
  width: 100%;
  clear: both;
}

.divisor-status {
  margin-right: 5px;
  margin-left: 5px;
  float: left;
}

.img-logo {
  width: 60px;
  height: 60px;
  border-radius: 15px;
}

.btn {
  position: relative;
  display: block;
  width: 160px;
  height: 39px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 20px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
}

.btn.violet {
  background-color: #a4a7c6;
}

.btn.violet.left {
  float: left;
}

.btn.verde {
  float: right;
  background-color: #4fd876;
}

.slider {
  height: 200px;
  background-color: transparent;
}

.arrow-slider {
  width: 5%;
  color: #908c8c;
  font-size: 45px;
  font-weight: 100;
}

.mask-slider {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.slide-clientes {
  width: 20%;
  padding-right: 15px;
  padding-left: 15px;
}

.box-img-slide-clientes {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo-slide {
  max-height: 150px;
}

.h2-funcionario {
  color: #fff;
}

.img-bg-funcionario {
  width: 100%;
  -webkit-filter: blur(15px);
  filter: blur(15px);
}

.box-bg-funcionario {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.img-funcionario {
  position: relative;
  z-index: 2;
  display: block;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 100%;
}

.ico-ribbon {
  position: relative;
  top: -37px;
  z-index: 3;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.nome-funcionario-mes {
  width: 100%;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.desc-funcionario-mes {
  margin-bottom: 100px;
  padding-right: 50px;
  padding-left: 50px;
  color: #6c6c73;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.h2-section {
  float: none;
  clear: both;
  font-size: 26px;
  line-height: 26px;
  font-weight: 300;
}

.ul-aniversariantes {
  margin-bottom: 0px;
  padding-top: 30px;
}

.li-aniversariantes {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 30px;
  color: #6c6c73;
}

.li-aniversariantes.aniversariante-dia {
  background-color: #faf9fc;
  background-image: url('../images/parabens.png');
  background-position: 90% 50%;
  background-size: auto;
  background-repeat: no-repeat;
  color: #f68479;
  font-weight: 700;
}

.li-aniversariantes.aniversariante-dia:hover {
  background-image: url('../images/parabens.png');
  background-position: 90% 50%;
  background-size: auto;
  background-repeat: no-repeat;
}

.box-foto-niver {
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
  border-radius: 100%;
}

.info-niver {
  padding-top: 10px;
  float: left;
}

.foto-niver {
  min-height: 100%;
  min-width: 100%;
}

.h3-niver {
  margin-bottom: 5px;
  clear: both;
}

.data {
  font-size: 12px;
  line-height: 14px;
}

.ul-reunioes {
  margin-bottom: 0px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.li-reunioes {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #f7f7f5;
}

.li-reunioes.last {
  border-bottom-style: none;
}

.info-reuniao {
  float: left;
  color: #6c6c73;
  text-decoration: none;
}

.h3-reuniao {
  margin-bottom: 5px;
  clear: both;
}

.h3-reuniao:hover {
  color: #f46363;
}

.slider-meses {
  width: 120px;
  height: 25px;
  float: right;
  clear: none;
  background-color: transparent;
}

.mask-slider-meses {
  display: block;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.arrow-slider-meses {
  width: 10%;
  color: #000;
  font-size: 9px;
}

.slide-mes {
  height: 25px;
  text-align: center;
}

.ul-eventos {
  padding-top: 20px;
}

.li-eventos {
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
}

.circle-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  float: left;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  color: #fff;
}

.circle-data.verde {
  background-color: #86e174;
}

.circle-data.azul {
  background-color: #99c5f1;
}

.circle-data.roxo {
  background-color: #cea1fc;
}

.circle-data.rosa {
  background-color: #fe7fa3;
}

.info-evento {
  padding-top: 2px;
  float: left;
  color: #777;
}

.nome-evento {
  font-size: 16px;
}

.detalhe-evento {
  font-size: 12px;
}

.box-btns {
  display: block;
  width: 340px;
  margin-right: auto;
  margin-left: auto;
}

.container-galeria {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 480.6875px;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lightbox-link-box {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hover-galeria {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5px;
  margin-left: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(244, 99, 99, .63);
  color: #fff;
  font-size: 12px;
  line-height: 14px;
}

.box-gallery {
  width: 100%;
}

.container-grafico-cafe {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 25px 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.box-total {
  margin-bottom: 30px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 90px;
  background-image: url('../images/ico-pig.png');
  background-position: 30px 50%;
  background-repeat: no-repeat;
  color: #6c6c73;
  font-size: 16px;
  line-height: 18px;
}

.valor-arrecadado {
  color: #f46363;
  font-size: 34px;
  line-height: 36px;
  font-weight: 500;
}

.info-arrecadacao {
  overflow: auto;
  height: 69px;
  max-height: 69px;
  margin-bottom: 63px;
  padding-right: 30px;
  padding-left: 30px;
  color: #6c6c73;
}

.ul-ideias {
  margin-bottom: 45px;
  padding-right: 25px;
  padding-left: 25px;
}

.li-ideias {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #f7f7f5;
}

.h3-ideas {
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.row-titu-ideias {
  padding-right: 25px;
  padding-left: 25px;
}

.h4-titu-idea {
  margin-bottom: 10px;
  clear: both;
  color: #7e81a0;
  font-weight: 400;
}

.h4-titu-idea:hover {
  color: #f46363;
}

.a-ideias {
  width: 100%;
  text-decoration: none;
}

.row-ideas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #6c6c73;
  font-size: 15px;
}

.container-calendario {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 425.015625px;
  margin-bottom: 55px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.img-calendario {
  width: 100%;
}

.nav-link {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px 20px 5px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}

.img-nav {
  margin-right: 10px;
}

.num-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 20px;
  min-height: 20px;
  min-width: 20px;
  margin-left: 10px;
  padding-top: 1px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #f68479;
  color: #fff;
  font-size: 9px;
}

.h2-nav {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  color: #7e81a0;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.logo-nav {
  margin-top: 20px;
  margin-bottom: 30px;
}

.ul-tarefas {
  margin-bottom: 36px;
}

.li-tarefas {
  padding: 26px 20px;
  color: #6c6c73;
  font-size: 14px;
}

.li-tarefas.escura {
  background-color: #faf9fc;
}

.row-tarefas {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.row-tarefas.row-1 {
  text-transform: uppercase;
}

.a-tarefas {
  color: #6c6c73;
  text-decoration: none;
}

.a-tarefas:hover {
  color: #f46363;
}

.status {
  padding-left: 20px;
  background-image: url('../images/sign-fila.png');
  background-position: 0px 50%;
  background-repeat: no-repeat;
  color: #f46363;
  font-size: 13px;
  text-transform: uppercase;
}

.status.andamento {
  background-image: url('../images/sign-andamento.png');
  background-size: auto;
  color: #60a0f7;
}

.status.aprovacao {
  background-image: url('../images/sign-aprovacao.png');
  background-size: auto;
  color: #fd9f59;
}

.status.concluido {
  background-image: url('../images/sign-concluido.png');
  background-size: auto;
  color: #4fd876;
}

.img-galeria {
  width: 100%;
}

html.w-mod-js *[data-ix="hover-galeria"] {
  opacity: 0;
}

@media (max-width: 991px) {
  .container.container-68 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    float: none;
  }
  .container.container-33 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0%;
    float: none;
  }
  .container.container-40 {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    float: none;
  }
  .slide-clientes {
    width: 33.3333%;
  }
  .container-galeria {
    height: auto;
  }
  .box-gallery {
    margin-bottom: 20px;
  }
}

@media (max-width: 767px) {
  .container.container-68 {
    height: auto;
  }
  .btn.violet {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .arrow-slider {
    width: 10%;
  }
  .mask-slider {
    width: 80%;
  }
  .slide-clientes {
    width: 50%;
  }
  .desc-funcionario-mes {
    margin-bottom: 50px;
  }
  .ul-ideias {
    height: auto;
    max-height: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
  .row-ideas {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }
  .container-calendario {
    margin-bottom: 20px;
  }
  .ul-tarefas {
    height: 230px;
    margin-bottom: 25px;
  }
  .li-tarefas {
    width: 50%;
    float: left;
  }
  .row-tarefas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .status.andamento.col-tarefa {
    background-position: 0px 0px;
  }
  .col-tarefa {
    height: 40px;
  }
}

@media (max-width: 479px) {
  h2 {
    float: none;
  }
  .header-box {
    text-align: center;
  }
  .drop-order {
    float: none;
    text-align: center;
  }
  .col-logo {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .btn {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slide-clientes {
    width: 100%;
  }
  .img-funcionario {
    top: 45px;
    width: 100px;
    height: 100px;
  }
  .ico-ribbon {
    top: 20px;
    width: 40px;
  }
  .nome-funcionario-mes {
    margin-top: 35px;
  }
  .desc-funcionario-mes {
    margin-bottom: 20px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .li-aniversariantes {
    padding-left: 15px;
  }
  .li-aniversariantes.aniversariante-dia {
    background-image: url('../images/baloes-niver.png');
    background-position: 95% 75%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .li-aniversariantes.aniversariante-dia:hover {
    background-image: url('../images/baloes-niver.png');
    background-position: 95% 70%;
    background-size: auto;
    background-repeat: no-repeat;
  }
  .ul-reunioes {
    padding-top: 0px;
  }
  .slider-meses {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .box-btns {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lightbox-link-box {
    width: 100%;
  }
  .info-arrecadacao {
    height: 100px;
    max-height: 100px;
  }
  .container-calendario {
    height: 250px;
  }
}

